{% extends "::base.html.twig" %}

{% block title %}New Controller{% endblock %}

{% block body %}
<div class="container">



{{ form_start(realform) }}
    {{ form_errors(realform) }}

    {{ form_row(realform.task) }}
    {{ form_row(realform.dueDate) }}
{{ form_end(realform) }}


</div>
{% endblock %}
